{{#background-parallax photoUrl="images/teknologihuset_trapperom_h380.png"}}
    <h1 class="large-page-header">{{forside.ingress}}</h1>
    <div class="large-page-content">
        {{forside.forsideInnhold}}
    </div>
    <div class="large-page-buttons">
        {{link-to "Book Dag" "booking" tagName="button" classNames="tn-btn tn-btn-rounded tn-btn-primary"}}
        {{!<button class="tn-btn tn-btn-rounded tn-btn-warning">Book Kveld</button>}}
    </div>

{{/background-parallax}}

{{!
<div class="index-meeting-overview">
    <h1 class="index-meeting-header">Oversikt over møter på huset</h1>
    <h2 class="index-meeting-header">Her kommer det en oversikt over hva som skjer på Teknologihuset</h2>
</div>
}}

<div id="googlemaps" class="index-contact-overview">
</div>

<div class="index-contact-page">
    <h1 class="index-contact-header">{{kontakt.ingress}}</h1>
    <div class="index-contact-text">{{markdown kontakt.content}}</div>
</div>

<div class="large-margin-bottom"></div>