<h1 class="text-center" style="margin-bottom: 15px;">Community bookingforespørsel</h1>

{{#if controllers.communityBooking.selectedEvent}}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Vennligst fyll inn følgende informasjon og send oss forespørsel på rom.</h3>
            <p>Felt merket med * må fylles ut.</p>

            {{#if validationErrors}}
                <div data-alert class="alert alert-warning">
                    <ul>
                        {{#each error in validationErrors}}
                            <li>{{error}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            <form role="form" class="foresporselForm">
                {{form-group inputValue=controller.firmanavn inputType="text" label="Navn/Community(*)" inputValid=controller.firmanavnValid}}
                {{form-group inputValue=controller.epost inputType="text" label="Epost(*)" inputValid=controller.epostValid}}
                {{form-group inputValue=controller.tlf inputType="text" label="Telefonnummer(*)" inputValid=controller.tlfValid}}
                {{form-group inputValue=controller.communityBeskrivelse inputType="textarea" label="Beskrivelse av møte (blir tilgjengelig på nettsiden - Støtter Markdown):" inputValid=true}}
                {{form-group inputValue=controller.beskrivelse inputType="textarea" label="Informasjon til Verten" inputValid=true}}


                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=controller.oenskerBevertning}}
                        Kontakt meg angående bevertning
                    </label>
                </div>

                <div class="foresporsel-betingelser">
                    {{input type="checkbox" checked=controller.godtattBetingelser classNames="pull-left"}}
                    Jeg har lest og godtatt
                    <span class="betingelser-link" {{action "toggleBetingelser"}}>
                        betingelsene
                        {{#if controller.showBetingelser}}
                            <i class="fa fa-caret-square-o-down"></i>
                        {{else}}
                            <i class="fa fa-caret-square-o-up"></i>
                        {{/if}}
                    </span>
                </div>

                {{#if controller.showBetingelser}}
                    <div id="bookingBetingelser">
                        <h1>{{controllers.communityBooking.model.betingelser.overskrift}}</h1>
                        {{markdown controllers.communityBooking.model.betingelser.content}}
                    </div>
                {{/if}}

                {{#if allFieldsHaveValues}}
                    <button class="btn reserve-btn tn-btn-primary form-control" {{action "sendBookingInquiry"}}>Send Forespørsel</button>
                {{else}}
                    <button class="btn reserve-btn" disabled>
                        <span class="reserve-btn">Send Forespørsel</span>
                    </button>
                {{/if}}

            </form>
        </div>
    </div>
{{else}}
    <div class="alert alert-danger">Ingen valgte møterom.</div>
{{/if}}