<div class="text-left">
    <span>
        {{roomEvent.formattedFromHour}}:00 - {{roomEvent.formattedToHour}}:00
    </span>
    <span class="pull-right">
        {{#if roomEvent.selected}}
            <button class="tn-btn tn-btn-rounded tn-btn-selected" {{action "toggleEvent" roomDay roomEvent}}>
                {{#if buttonCheckedLabel}}{{buttonCheckedLabel}}{{else}}Lagt til{{/if}} {{#if iconClass}}<i {{bind-attr class=iconClass}}/></i>{{/if}}
            </button>
        {{else}}
            <button class="tn-btn tn-btn-rounded tn-btn-default" {{action "toggleEvent" roomDay roomEvent}}>
                {{#if buttonLabel}}{{buttonLabel}}{{else}}Legg til{{/if}} {{#if iconClass}}<i {{bind-attr class=iconClass}}/></i>{{/if}}
            </button>
        {{/if}}
    </span>
</div>