<h1 class="text-center" style="margin-bottom: 15px;">Booking Forespørsel</h1>

{{#if controllers.bookingWeek.selectedHours}}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <table class="table">
                <tr>
                    <th class="text-center">Dine møteromsvalg</th>
                </tr>
                {{#each hour in controllers.bookingWeek.selectedHours}}
                    <tr>
                        <td>
                            <button class="btn btn-xs btn-danger" style="width: 20px;" {{action "removeHour" hour}}>x</button>
                            {{hour.dayOfMonth}}/{{hour.month}}, kl. {{hour.formattedHour}}:00 - {{hour.endHour}}:00, {{hour.room.roomName}}

                            {{#if controllers.bookingWeek.isBookingHours}}
                                <span class="pull-right">kr. {{hour.room.pris}},-</span>
                            {{/if}}

                            {{#if controllers.bookingWeek.isBookingHalfday}}
                                <span class="pull-right">kr. {{hour.room.halvdagspris}},-</span>
                            {{/if}}

                            {{#if controllers.bookingWeek.isBookingFullday}}
                                <span class="pull-right">kr. {{hour.room.heldagspris}},-</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}

                <tr>
                    <td class="text-right">
                        {{#if controllers.bookingWeek.totalBookingPris}}
                            <span class="sub-total">Totalpris kr.{{controllers.bookingWeek.totalBookingPris}},-</span>
                        {{/if}}
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <p>Vennligst fyll inn kontaktinformasjonen for å sende møteromshenvendelsen!</p>

            {{#if validationErrors}}
                <div data-alert class="alert alert-warning">
                    <ul>
                        {{#each error in validationErrors}}
                            <li>{{error}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            <form role="form" class="foresporselForm">
                {{form-group inputValue=controller.firmanavn inputType="text" label="Navn/Firma:" inputValid=controller.firmanavnValid}}
                {{form-group inputValue=controller.epost inputType="text" label="Epost:" inputValid=controller.epostValid}}
                {{form-group inputValue=controller.tlf inputType="text" label="Telefonnummer:" inputValid=controller.tlfValid}}
                {{form-group inputValue=controller.beskrivelse inputType="textarea" label="Beskrivelse av møte:" inputValid=true}}


                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked="oenskerBevertning"}}
                        Kontakt meg angående bevertning
                    </label>
                </div>

                {{#if allFieldsHaveValues}}
                    <button class="btn btn-primary form-control" {{action "sendBookingInquiry"}}>Send Forespørsel</button>
                {{else}}
                    <button class="btn reserve-btn" disabled>
                        <span class="reserve-btn">Send Forespørsel</span>
                    </button>
                {{/if}}

            </form>
        </div>
    </div>
{{else}}
    <div class="alert alert-danger">Ingen valgte møterom.</div>
{{/if}}
