<div class="weekSelector text-center" style="width: 100%">
    <span {{action "decrementWeek"}} class="pointer">{{view Teknologihuset.LiviconView data-name="angle-wide-left" data-color="#19498f" data-size="46"}}</span>
    <span class="weekText">
        Uke {{weeknum}} <br />
        <span class="weekDates">
            ({{firstDayOfWeek}} - {{lastDayOfWeek}})
        </span>
    </span>
    <span {{action "incrementWeek"}} class="pointer">{{view Teknologihuset.LiviconView data-name="angle-wide-right" data-color="#19498f" data-size="46"}}</span>
</div>

<div class="row" style="padding-top: 30px; margin-bottom: 30px;">
    <div class="col-sm-6" style="padding-top: 15px;">
        Finn ledige rom pr {{view Ember.Select content=bookingTypes value=bookingType}}
    </div>

    <div class="col-sm-6" style="padding-top: 15px;">
        <div class="pull-right">
            <span style="margin-left: 15px; width: 40px; height: 10px; background: #a8dce5;">&nbsp;&nbsp;&nbsp;</span>Dine Valg
            <span style="margin-left: 15px; width: 40px; height: 10px; background: #fcfcfc;">&nbsp;&nbsp;&nbsp;</span>Ledig
            <span style="margin-left: 15px; width: 40px; height: 10px; background: #dadada;">&nbsp;&nbsp;&nbsp;</span>Opptatt
        </div>
    </div>
</div>

<div class="row">
    {{#each roomWeek in roomWeeks}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{view Teknologihuset.RoomBookingView room=roomWeek}}
        </div>
    {{/each}}
</div>


<div class="row">
    <div class="col-md-4" style="margin-top: 25px;">
        <div class="room-name-heading booked-row">
            Dine Valgte Rom
        </div>

        {{#if controller.selectedHours}}
            {{#each hour in controller.selectedHours}}
                <div class="booked-row">
                    <button class="btn btn-xs btn-danger remove-hour-btn" {{action "removeHour" hour}}>x</button>
                    {{hour.dayOfMonth}}/{{hour.month}}, kl. {{hour.hour}}:00 - {{hour.endHour}}:00, {{hour.room.roomName}}

                    {{#if isBookingHours}}
                        <span class="pull-right">kr. {{hour.room.pris}},-</span>
                    {{/if}}

                    {{#if isBookingHalfday}}
                        <span class="pull-right">kr. {{hour.room.halvdagspris}},-</span>
                    {{/if}}

                    {{#if isBookingFullday}}
                        <span class="pull-right">kr. {{hour.room.heldagspris}},-</span>
                    {{/if}}

                </div>
            {{/each}}
        {{else}}
            <div class="booked-row">
                Ingen Valgte Rom
                <span class="pull-right">kr. 0,-</span>
            </div>
        {{/if}}


        <div class="booked-row">
            <span class="sub-total">Totalt</span>
            {{#if controller.selectedHours}}
                <span class="sub-total pull-right">
                    {{#if controller.totalBookingPris}}
                        kr. {{controller.totalBookingPris}},-
                    {{/if}}
                </span>
            {{else}}
                <span class="sub-total pull-right">
                    kr. 0,-
                </span>
            {{/if}}
        </div>

        {{#if controller.selectedHours}}
            {{#link-to "booking.foresporsel" class="btn btn-info reserve-btn" tagName="button"}}
                {{view Teknologihuset.LiviconView data-name="message-new" data-color="#000000" data-size="24"}}
                <span class="reserve-btn">Send Reservasjon</span>
            {{/link-to}}
        {{else}}
            <button class="btn reserve-btn" disabled>
                {{view Teknologihuset.LiviconView data-name="message-new" data-color="#000000" data-size="24"}}
                <span class="reserve-btn">Send Reservasjon</span>
            </button>
        {{/if}}
    </div>
</div>