<div class="large-text-overview shaded-background">
    <div class="pageContent">
        <div class="row">
            <div class="col-md-8">
                <h1 class="large-text-header">{{partnere.ingress}}</h1>
                <div class="large-text-area">{{partnere.forsideInnhold}}</div>
            </div>
            <div class="col-md-4">
                <div class="large-page-buttons">
                    {{link-to "Book Dag" "booking" tagName="button" classNames="tn-btn tn-btn-rounded tn-btn-primary"}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white-background">
    <div class="pageContent">
        {{#if controller.hasAtLeastTwoQuotes}}

            <div class="row quotes-partnere">
                {{#each quote in controller.currQuotes}}
                    <div class="col-md-6">
                        <div class="quotes-quote">
                            <i class="fa fa-quote-right quotes-style"></i>
                            <span class="quotes-text">{{quote.content}}</span>
                            <div class="quotes-from">{{quote.quoteFrom}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            No Quotes
        {{/if}}
    </div>
</div>

<div class="large-text-overview shaded-background">
    <div class="pageContent">
        <div class="row">
            <div class="col-md-8">
                <h1 class="large-text-header">{{bliPartner.ingress}}</h1>
                <div class="large-text-area">{{bliPartner.forsideInnhold}}</div>
                <div class="bli-partner">{{markdown bliPartner.content}}</div>
            </div>
            <div class="col-md-4">
                <div class="large-page-buttons">
                    <a href="mailto:vert@teknologihuset.no"><button class="tn-btn tn-btn-rounded tn-btn-primary">Bli Partner</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white-background">
    <div class="pageContent">
        <h1 class="underscore-header">Partnere</h1>
        <div class="partnerlogo">
            {{#each partner in sortedPartners}}
                <a {{bind-attr href=partner.http}}>
                    <img {{bind-attr src=partner.pLogo.href}} />
                </a>
            {{/each}}
        </div>
    </div>
</div>