<div class="room-div">


    <table class="room-table-header">
        <tr>
            {{#if view.hasSelectedSlots}}
                <td>
                    {{#link-to "rooms.room" roomWeek.room}}
                        <div {{bind-attr class=view.selectedSprite}}></div></td>
                    {{/link-to}}
            {{else}}
                <td>
                    {{#link-to "rooms.room" roomWeek.room}}
                        <div {{bind-attr class=view.availableSprite}}></div>
                    {{/link-to}}
                </td>
            {{/if}}

            <td>
                {{#link-to "rooms.room" roomWeek.room}}
                    <div class="room-name-heading">
                        {{roomWeek.room.roomName}}
                    </div>
                    Kapasitet: {{roomWeek.room.kapasitet}}
                {{/link-to}}
            </td>
            <td style="text-align: right;">
                {{#if view.canBeBooked}}
                    {{#if isBookingHours}}
                        {{roomWeek.room.pris}},- <br />per time
                    {{/if}}

                    {{#if isBookingHalfday}}
                        {{roomWeek.room.halvdagspris}},- <br />per halve dag
                    {{/if}}

                    {{#if isBookingFullday}}
                        {{roomWeek.room.heldagspris}},- <br />per hele dag
                    {{/if}}
                {{else}}
                    *
                {{/if}}
        </tr>
    </table>

    {{#if view.canBeBooked}}

        <table class="room-table" cellpadding="0">
            <tr>
                {{#each roomDay in roomWeek.weekdayRoomDays}}
                    {{view Teknologihuset.RoomBookingDayView roomDay=roomDay}}
                {{/each}}
            </tr>
        </table>


        {{#if view.selectedDay}}
            {{#if isBookingHours}}
                <table class="room-table hour">
                    <tr>
                        <td class="day-feature selected"><div class="sprite klokke_icon klokke"></div></td>
                        {{#each roomEvent in view.selectedDay.sortedRoomEvents}}
                            {{#if roomEvent.ledig}}
                                {{#if roomEvent.selected}}
                                    <td class="selected" {{action "selectEvent" roomEvent}}>
                                        {{roomEvent.formattedHour}}
                                    </td>
                                {{else}}
                                    <td {{action "selectEvent" roomEvent}}>
                                        {{roomEvent.formattedHour}}
                                    </td>
                                {{/if}}

                            {{else}}
                                <td class="opptatt">
                                    {{roomEvent.formattedHour}}
                                </td>
                            {{/if}}

                        {{/each}}
                    </tr>
                </table>
            {{/if}}

            {{#if isBookingHalfday}}
                <table class="room-table hour">
                <tr>
                    <td class="day-feature selected"><div class="sprite klokke_icon klokke"></div></td>
                    {{#each event in view.selectedDay.halfdayEvents}}
                        {{#if event.ledig}}
                            {{#if event.selected}}
                                <td class="selected" {{action "selectEvent" event}}>
                                    <span class="pull-left">{{event.formattedHour}}</span>
                                    <span class="pull-right">{{event.endHour}}</span>
                                </td>
                            {{else}}
                                <td {{action "selectEvent" event}}>
                                    <span class="pull-left">{{event.formattedHour}}</span>
                                    <span class="pull-right">{{event.endHour}}</span>
                                </td>
                            {{/if}}
                        {{else}}
                            <td class="opptatt">
                                <span class="pull-left">{{event.formattedHour}}</span>
                                <span class="pull-right">{{event.endHour}}</span>
                            </td>
                        {{/if}}

                    {{/each}}
                </tr>
                </table>
            {{/if}}

            {{#if isBookingFullday}}
                <table class="room-table hour">
                    <tr>
                        <td class="day-feature selected"><div class="sprite klokke_icon klokke"></div></td>
                        {{#if view.selectedDay.fulldayEvent.ledig}}
                            {{#if view.selectedDay.fulldayEvent.selected}}
                                <td class="selected" {{action "selectEvent" view.selectedDay.fulldayEvent}}>
                                    <span class="pull-left">{{view.selectedDay.fulldayEvent.formattedHour}}</span>
                                    <span class="pull-right">{{view.selectedDay.fulldayEvent.endHour}}</span>
                                </td>
                            {{else}}
                                <td {{action "selectEvent" view.selectedDay.fulldayEvent}}>
                                    <span class="pull-left">{{view.selectedDay.fulldayEvent.formattedHour}}</span>
                                    <span class="pull-right">{{view.selectedDay.fulldayEvent.endHour}}</span>
                                </td>
                            {{/if}}
                        {{else}}
                            <td class="opptatt">
                                <span class="pull-left">{{view.selectedDay.fulldayEvent.formattedHour}}</span>
                                <span class="pull-right">{{view.selectedDay.fulldayEvent.endHour}}</span>
                            </td>
                        {{/if}}
                    </tr>
                </table>
            {{/if}}

        {{/if}}
    {{else}}
        {{#if view.isJuly}}
            <p>* Teknologihuset er kun åpent for større arrangementer i juli.</p>
        {{else}}
            {{#if view.isInPast}}
                <p>* Rommet kan ikke bookes tilbake i tid.</p>
            {{else}}
                <p>* Rommet kan ikke bookes pr {{controller.bookingType}}</p>
            {{/if}}
        {{/if}}

    {{/if}}
</div>